html {
  font-size: 1.25em;
  box-sizing: border-box;
}

// colours
$middle-blue-green: #80D1CC;
$persian-green: #00A9A9;
$snow: #FFFAF9;
$white-smoke: #F6F6F6;
$dark-jungle-green: #1A2126;

// fonts
$ibm-plex-mono: 'IBM Plex Mono', monospace;
$josefin-sans: 'Josefin Sans', sans-serif;
$old-standard-tt: 'Old Standard TT', serif;

// body styles
body {
  background: $snow;
}

// navbar
nav.navbar {
  background: $white-smoke;
  font-family: $ibm-plex-mono;
  font-size: 1.25em;
  -webkit-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
}

.front {
  height: 45em;
}

.sotomun-logo {
  margin: 3em auto;
  display: block;
  width: 24em;
}

.intro-text {
  text-transform: uppercase;
  text-align: center;
  font-family: $josefin-sans;
  color: $dark-jungle-green;
  margin-top: 1.5em;
  font-size: 2.441em;
}

.main-nobg {
  width: 100%;
  font-family: $josefin-sans;
}

.main-nobg h2 {
  font-family: $old-standard-tt;
  color: $dark-jungle-green;
  padding-top: 2.5em;
  font-size: 1.953em;
  text-transform: uppercase;
}

.main-nobg p {
  font-size: 1em;
  line-height: 2em;
  padding-top: 3em;
}

.main-nobg p+p {
  text-indent: 2.4em;
}

.main {
  background: $dark-jungle-green;
  width: 100%;
  color: $snow;
  padding-bottom: 100px;
  font-family: $josefin-sans;
}

.main p{
  font-size: 1em;
  line-height: 2em;
  padding-top: 3em;
}

.main p+p {
  text-indent: 2.4em;
}

.illumination {
  font-size: 4em;
  padding: .5px 8px;
  margin-right: 4px;
}

.main h2 {
  font-family: $old-standard-tt;
  color: $middle-blue-green;
  padding-top: 2.5em;
  font-size: 1.953em;
  text-transform: uppercase;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card-n {
  img {
    border-radius: 100%;
  }
}

.container-n {
  padding: 0 16px;
}

.container-n::after, .row-n::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
