html {
  font-size: 1.25em;
  box-sizing: border-box;
}

// colours
$middle-blue-green: #80D1CC;
$persian-green: #00A9A9;
$snow: #FFFAF9;
$white-smoke: #F6F6F6;
$dark-jungle-green: #1A2126;

// fonts
$ibm-plex-mono: 'IBM Plex Mono', monospace;
$josefin-sans: 'Josefin Sans', sans-serif;
$old-standard-tt: 'Old Standard TT', serif;

// body styles
body {
  background: $snow;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $old-standard-tt;
}

.card-text {
  font-family: $josefin-sans
}

// navbar
nav.navbar {
  background: $white-smoke;
  font-family: $ibm-plex-mono;
  font-weight: 500;
  font-size: 1.25em;
  -webkit-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 13px 35px 0px rgba(0,0,0,0.75);
  @media (max-width: 1134px) {
    &{
      font-size: 1em;
    }
  }
}

.nav-logo {
  width: 140px;
}

.sotomun-nav-logo {
  width: 56px;
}

.front {
  height: 45em;
}

.sotomun-logo {
  margin: 3em auto;
  display: block;
  width: 20em;
  @media(max-width: 751px) {
    width: 100%;
  }
}

.intro-text {
  text-transform: uppercase;
  text-align: center;
  font-family: $josefin-sans;
  color: $dark-jungle-green;
  margin-top: 1.5em;
  font-size: 2.441em;
  @media(max-width: 751px) {
    font-size: 1.563em;
  }
}

.main-nobg {
  width: 100%;
  height: 100%;
  font-family: $josefin-sans;
}

.main-nobg h2 {
  font-family: $old-standard-tt;
  color: $dark-jungle-green;
  padding-top: 2.5em;
  font-size: 1.953em;
  text-transform: uppercase;
}

.main-nobg p {
  font-size: 1em;
  line-height: 2em;
  padding-top: 3em;
}

.main-nobg p+p {
  text-indent: 2.4em;
}

.main {
  background: $dark-jungle-green;
  width: 100%;
  height: auto;

  color: $snow;
  padding-bottom: 100px;
  font-family: $josefin-sans;
}

.main p{
  font-size: 1em;
  line-height: 2em;
  padding-top: 3em;
}

.main p+p {
  text-indent: 2.4em;
}

.illumination {
  font-size: 4em;
  padding: .5px 8px;
  margin-right: 4px;
}

.bold {
  font-weight: 700;
}

.main h2 {
  font-family: $old-standard-tt;
  color: $middle-blue-green;
  padding-top: 2.5em;
  font-size: 1.953em;
  text-transform: uppercase;
}

.main-nobg h2, .main h2 {
  @media(max-width: 751px) {
    font-size: 1.25em;
  }
}

.main-nobg h3, .main h3 {
  @media(max-width: 751px) {
    font-size: 1em;
  }
}

.main-nobg ul, .main ul {
  @media(max-width: 751px) {
    font-size: 0.8em;
  }
}

.main-nobg p, .main p {
  @media(max-width: 751px) {
    font-size: 0.8em;
  }
}

.letter {
  & p, h1, h2, h3, h4, h5, h6 {
    padding-top: 0;
  }
  & p+p {
    text-indent: 0;
  }
}

.download {
  position: relative;
  transition-duration: .6s;
  display: inline-block;
  margin-top: 2em;
  color: $dark-jungle-green;
  background-color: $white-smoke;
  border-radius: 10px;
  & a {
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
  }
  &:hover {
    background-color: $persian-green;
    cursor: hand;
    cursor: pointer;
  }
  &:hover a {
    color: $white-smoke;
  }
  & a:hover {
    color: $white-smoke;
  }
  &:nth-of-type(2) {
    margin-left: 2em;
  }
  @media (max-width: 751px) {
    &:nth-of-type(2) {
      margin-left: 0;
    }
  }
}

.main-nobg .download {
  background-color: $dark-jungle-green;
  & a {
    color: $white-smoke;
  }
  &:hover {
    background-color: $middle-blue-green;
    & a {
      color: $dark-jungle-green;
    }
  }
}

.card-body {
  padding: 23px;
}

table {
    width: 100%;
    margin-bottom: 25px;
}

tr.highlight {
  background-color: $middle-blue-green;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: auto;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

hr.elegant {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.sponsors img {
  border-radius: 5px;
  width: 340px;
  height: 300px;
  @media (max-width: 1194px) {
    & {
      width: 260px;
      height: 260px;
    }
  }
}

hr.elegant:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
